.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
  }
  
  li {
    float: left;
    color: darkslategray;
  }
  
  li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:aqua;
  }

  .mainHeader {
    font-size: 30px;
    text-decoration: underline;
  }



  table, th, td {
      border: 2px solid black;
      text-align: center;

  }

  footer {
      font-size: 10px;
  }